.header {
    min-height: 4em;
    min-width:auto;
    background-color: rgba(200,230,230, 0.5);
    padding: 0.5em
}

.left {
    width: 40%;
    align-items: center;
    padding: 0.5em;
}

.right {
    width: 60%;
    align-items: center;
    padding: 0.5em;
}

img {
    width:25em;
}

.graphs {
    display: none;
}

@keyframes bannermove {
   0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}